*.env*
**.md**
**README.md**
**.log**
**.DS_Store**
**.gitignore**
**.dockerignore**
**eslint.config.mjs**
**global.d.ts**

**dist**
**node_modules**
**__tests__**

.git
.gitattributes
.prettierrc
.prettierignore
.lintstagedrc.json
.npmrc
.commitlintrc.json
Makefile

docs
docker
.husky
.github
.vscode
infra