@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4a0e4e;
  --secondary: #8a4fff;
  --accent: #ffd700;
  --accent-hover: #e6c200;
  --primary-bg: #f8f0e3;
  --secondary-bg: #e6d9c0;
  --error: #ff0000;
  --success: #22c55e;
}

@layer base {
  .tbr {
    border: 2px solid red;
  }

  .tbg {
    border: 2px solid green;
  }

  .tbb {
    border: 2px solid blue;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html > body[data-scroll-locked] {
  overflow-x: hidden !important;
  margin-right: 0 !important;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--primary-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 6px;
  border: 3px solid var(--primary-bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-hover);
}
